* {
    padding: 2%;
}
html, body, .container, #map {
    height: 99%;
    width: 95vw;
    align-items: center;
}
/* #map {
    display: flex;
    align-items: center;
} */

/* nav {
    width: 95vw;
} */

a {
    text-decoration: none;
}


/* .container {
    position: absolute;
} */

.offcanvas {
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
}

.card {
    margin: 2px;
}

.loading-screen {
    display: flex;
}

.white-btn {
    color: aliceblue;
}

#selectContainer{
    width: 200px;
}


#countryBody {
    position: relative;
}

#countryBody::before{
    content: "";
    background-image: url('./assets/Simple_world_map.svg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

#factsContainer ul{
    position: relative;
    color: black;
}

#weatherHeader {
    background-image: url('./assets/sky.jpg');
    background-position: center;
}

#weatherTitle, #currencyHeader{
    color: aliceblue;
}

#currencyHeader{
    background-image: url('./assets/finance.jpg');
    background-repeat: no-repeat;
    background-position: center 1rem;
}

#currencyHeader {
    background-position: relative;
}

#mapLoadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 10px;
}

.link-primary {
    padding:0%;
}