* {
    padding: 2%;
}
html, body, .container, #map {
    height: 99%;
    width: 95vw;
}

nav {
    width: 95vw;
}

a {
    text-decoration: none;
}


.container {
    position: absolute;
    align-items: center;
}

.offcanvas {
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
}

.card {
    margin: 2px;
}

#selectContainer{
    width: 200px;
}

/* #weatherModal .modal-body {
    background-image: url('./assets/pexels-francesco-ungaro-281260.jpg');
    background-size: 115%;
} */