* {
    padding: 2%;
}
html, body, .container, #map {
    height: 95%;
    width: 95vw;
}

nav {
    width: 95vw;
}

a {
    text-decoration: none;
}


.container {
    position: absolute;
    align-items: center;
}

.offcanvas {
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
}

#country_menu {
    max-height: 100vh;
    overflow-y: scroll;
}

/* .offcanvas {
    overflow: scroll
} */